@charset "UTF-8";
h1 {
  font-size: 2.5rem;
  font-family: "serif";
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.sub-headline {
  font-size: 2rem;
  font-family: "sans-serif";
  margin-top: 0.83rem;
  text-transform: uppercase;
}

p {
  margin: 0;
}

.center-align {
  text-align: center;
}
header h1 {
  margin: 0;
}
header p.headline-intro {
  padding: 0.25rem 1rem;
  background-color: #c0392b;
  margin: 0;
}
header .header-wrapper nav {
  padding: 1rem 2rem;
}
header .page_title {
  font-size: 26px;
  font-family: serif;
  font-weight: 600;
}

#main_menu {
  display: inline-block;
  flex: 1;
  background-color: inherit;
}
#main_menu li {
  display: inline-block;
}
#main_menu a {
  font-size: 14px;
  font-family: open sans, sans-serif;
  color: #575c63;
  margin-right: 12px;
  text-decoration: none;
  overflow: hidden;
  display: inline-block;
  padding: 0 6px;
}
#main_menu a span {
  display: inline-block;
  position: relative;
  transition: transform 0.3s;
}
#main_menu a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  transform: translate3d(0, 0, 0);
}
#main_menu a:hover span {
  transform: translateY(-100%);
}
#main_menu a:hover span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  transform: translate3d(0, 0, 0);
  color: #780095;
}

#sticky_nav {
  display: none;
  left: 10px;
  right: 10px;
  background: #fff;
  height: 83px;
  padding: 10px 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.5s ease;
}

#primary_nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  align-items: center;
}

.social_links {
  display: none;
}
.social_links span {
  margin-right: 8px;
}
.social_links span:last-child {
  margin-right: 0;
}

svg {
  fill: #780095;
  height: 23px;
}

figure {
  margin: 0 0 1rem;
}
figure img {
  width: 100%;
  border-left: 0.5rem solid #c0392b;
  height: 283px;
}
figure figcaption {
  margin: 1rem 0 0;
  line-height: 24px;
}

.figure_img {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#main-image {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0.4;
  z-index: -1;
  min-height: 685px;
  background-position: center top;
}

.fadeout {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  top: 20%;
  background: linear-gradient(to bottom, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 0.01) 1%, #f8f8f8 100%);
}

#learning #slide_container {
  display: block;
  flex-direction: unset;
}
#learning .main-image-controls-container {
  display: block;
  flex-direction: unset;
  margin-top: 150px;
  text-align: center;
}
#learning .main-image-controls-container h3, #learning .main-image-controls-container #slide_content #headline_wrapper {
  width: auto;
  max-width: initial;
}

.main-image-controls-container {
  margin-bottom: 200px;
  padding: 30px 16px;
  display: flex;
  flex-direction: column;
}
.main-image-controls-container nav {
  align-items: unset;
  flex: 0 0 164px;
}
.main-image-controls-container nav ul {
  padding: 0;
  margin: 0;
}
.main-image-controls-container nav ul:first-child {
  padding-right: 48px;
}
.main-image-controls-container nav ul:first-child li {
  margin-bottom: 54px;
  padding-bottom: 6px;
  border-bottom: 2px solid #780095;
}
.main-image-controls-container nav ul:first-child li.active {
  border-bottom: 4px solid #780095;
}
.main-image-controls-container nav ul li {
  list-style-type: none;
  margin-bottom: 20px;
}
.main-image-controls-container nav ul li .circle {
  height: 43px;
  width: 43px;
}
.main-image-controls-container nav ul li a {
  font-size: 24px;
  font-weight: 700;
  display: block;
  text-decoration: none;
}

#number_container {
  margin-bottom: 32px;
  font-size: 64px;
  font-family: serif;
  padding-left: 16px;
}

#slide_container {
  flex-direction: row;
  display: flex;
}
#slide_container nav#background_nav {
  display: none;
}

#slide_content h3 {
  font-family: serif;
  font-size: 48px;
  margin: 0;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 20px;
  width: auto;
}
#slide_content #author_information {
  margin-bottom: 20px;
}
#slide_content #author_information a {
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}
#slide_content #author_information a.author_link {
  color: #6a6a6a;
}
#slide_content #author_information a.author_link:hover {
  color: #780095;
  transition: 0.5s ease;
}
#slide_content #author_information a.link {
  font-weight: 700;
}
#slide_content time {
  color: #6a6a6a;
  font-size: 12px;
}
#slide_content #headline_wrapper {
  max-width: 350px;
}
#slide_content #headline_wrapper #slide_content-healdine {
  border-bottom: 3px solid #780095;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
}

footer {
  height: 410px;
  background: #1e1e1e;
  padding: 27px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer nav {
  display: block;
}
footer nav ul {
  padding: 0;
}
footer nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  font-family: sans-serif;
  font-size: 16px;
}
footer nav ul li a {
  color: #d1d1d1;
  text-decoration: none;
}
footer nav ul li a:hover {
  color: white;
}

.banner {
  height: 87px;
  background-color: #50e3c2;
}

.quote_block {
  position: relative;
  padding-left: 52px;
  padding-top: 15px;
  width: auto;
  margin: 0 auto 60px;
}
.quote_block p {
  font-size: 34px;
  font-family: serif;
  font-style: italic;
  line-height: 41px;
}
.quote_block p::before {
  content: "“";
  font: 120px/1 "Prata", sans-serif;
  color: #780095;
  position: absolute;
  top: -5px;
  left: 0;
}

.caption-block {
  margin-bottom: 2rem;
  line-height: 24px;
}
.caption-block .caption-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card {
  border: 1px solid #d1d1d1;
  background: rgba(248, 248, 248, 0.5);
  padding: 18px 12px 20px;
}
.card .caption-heading {
  font-family: serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
}
.card p, .card div {
  margin-bottom: 10px;
}
.card input {
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  font-family: open sans, sans-serif;
  line-height: 1.25;
  border-radius: 6px;
  font-size: 14px;
  padding: 14px 12px;
  margin-bottom: 10px;
}
.card button {
  padding: 16px 50px;
  font-size: 12px;
  background: #780095;
  color: #fff;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

body, html {
  height: auto;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

.container {
  border: 10px solid #780095;
  position: relative;
  z-index: 0;
  background-color: #f8f8f8;
}

p.headline {
  font-size: 1.5rem;
  font-style: italic;
  color: #ecf0f1;
}

*:focus {
  box-shadow: 0px 0px 5px 2px rgba(119, 0, 149, 0.9);
  outline: none;
}

button:hover, a:hover {
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
}
.main-container main {
  flex: 3.5;
  flex-direction: column;
  padding: 1rem;
}
.main-container main img {
  width: 100%;
  margin-bottom: 0.5rem;
}
.main-container main .main-image-container {
  margin: 0 0 1rem;
}
.main-container main .main_section-content {
  margin-bottom: 60px;
}
.main-container main .main_section-content > div {
  flex: 1;
  flex-direction: row;
  margin-bottom: 1rem;
}
.main-container main .main_section-content > div p {
  margin-bottom: 0.5rem;
  line-height: 24px;
}
.main-container main .main_section-content figure figcaption h4 {
  font-family: serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  margin: 0;
}
.main-container main .main_section-content figure figcaption .article_information .author_link {
  font-size: 10px;
  text-decoration: none;
  color: #6a6a6a;
}
.main-container main .main_section-content figure figcaption .article_information .author_link:hover {
  color: #780095;
  transition: 0.5s ease;
}
.main-container main .main_section-content figure figcaption .article_information time {
  font-size: 10px;
}
.main-container main .main_section-featured {
  display: flex;
  margin-bottom: 60px;
  flex-direction: column;
}
.main-container main .main_section-featured > div {
  flex: 1;
  flex-direction: row;
  margin-bottom: 1rem;
}
.main-container main .main_section-featured nav ul {
  padding: 0 20px 0 0;
}
.main-container main .main_section-featured nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}
.main-container main .main_section-featured #slide_container {
  flex-direction: column;
}
.main-container main .main_section-featured #slide_container #slide-content h3 {
  font-size: 36px;
}
.main-container main .main_section-featured #slide_container span {
  flex: 1;
  vertical-align: middle;
  font-weight: 600;
}
.main-container main .main_section-featured #slide_container #featured_controls {
  display: flex;
  align-items: center;
}
.main-container aside {
  padding: 1rem 0.5rem 0;
  flex: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.main-container aside div.caption-block:not(:first-child), .main-container aside figure {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dot {
  border-radius: 50%;
  background-color: #780095;
  height: 3px;
  width: 3px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
}

.circle {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-flex;
  transition: 0.4s;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.circle:hover {
  transform: scale(1.3);
  transition: 0.4s;
}
.circle svg {
  height: 21px;
  fill: black;
}
@media (min-width: 560px){
  h1 {
    font-size: 3rem;
  }
  .sub-headline {
    font-size: 2.5rem;
  }
  p.headline {
    font-size: 2rem;
  }
}
@media (min-width: 768px){
  h1 {
    font-size: 4rem;
  }
  .sub-headline {
    font-size: 3.5rem;
  }
  #sticky_nav.active {
    display: flex;
    position: fixed;
    top: 0px;
    height: 53px;
  }
  footer {
    height: 210px;
  }
  footer nav {
    display: flex;
  }
  .main-container {
    flex-direction: row;
  }
  .main-container aside {
    padding: 1rem;
    border-top: none;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 992px){
  h1 {
    font-size: 5.5rem;
  }
  .sub-headline {
    font-size: 5rem;
  }
  #slide_container nav#background_nav {
    display: flex;
  }
  #slide_content h3 {
    width: 500px;
  }
  .quote_block {
    width: 700px;
  }
  .main-container main .main_section-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  .main-container main .main_section-content.quad {
    max-width: none;
  }
  .main-container main .main_section-content:last-child {
    margin-bottom: 0;
  }
  .main-container main .main_section-content > div {
    flex-direction: column;
    padding-right: 14px;
    margin-bottom: 0;
  }
  .main-container main .main_section-featured > div {
    flex-direction: column;
    padding-right: 0.5rem;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px){
  h1 {
    font-size: 6.5rem;
  }
  .sub-headline {
    font-size: 6rem;
  }
  .main-container main .main_section-featured {
    flex-direction: row;
  }
}
@media (max-width: 767px){
  header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  header .header-wrapper nav {
    background-color: white;
  }
  header .page_title {
    flex: 1;
  }
  #main_menu {
    display: none;
  }
  #main_menu.active {
    display: block;
    top: 45px;
    left: 0;
    right: 0;
    position: absolute;
    background: white;
    padding: 20px 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  #main_menu li {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  #primary_nav.active {
    display: flex;
    position: fixed;
    top: 0px;
    right: 10px;
    left: 10px;
    z-index: 1;
  }
  .social_links {
    display: inline-block;
  }
  footer nav ul li {
    width: 45%;
    margin: 10px 0;
  }
}
@media (max-width: 992px){
  #sticky_nav.active {
    height: 73px;
  }
}