footer {
    height: 410px;
    background: #1e1e1e;
    padding: 27px;
    color: white;
    display: flex;
    @include tablet {
        height: 210px;
    }
    flex-direction: column;
    justify-content: center;
    nav {
        display: block;
        @include tablet {
            display: flex;
        }
        ul {
            padding: 0;
            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 10px;
                font-family: sans-serif;
                font-size: 16px;
                @include max-tablet {
                    width: 45%;
                    margin: 10px 0;
                }
                a {
                    color: #d1d1d1;
                    text-decoration: none;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}

.banner {
    height: 87px;
    background-color: #50e3c2;
}

.quote_block {
    position: relative;
    padding-left: 52px;
    padding-top: 15px;
    width: auto;
    margin: 0 auto 60px;
    @include small-desktop {
        width: 700px;
    }
   p {
    font-size: 34px;
    font-family: serif;
    font-style: italic;
    line-height: 41px;
    &::before {
        content: "\201C";
        font: 120px/1 "Prata",sans-serif;
        color: #780095;
        position: absolute;
        top: -5px;
        left: 0;
    }
   }
}