header {
    border-top: .2rem solid black;
    border-bottom: .2rem solid black;
    h1 {
        margin: 0;
    }
    p.headline-intro {
        padding: $quarter $standard;
        background-color: $alternate;
        margin: 0;
    }
    &-wrapper {
        margin: 0 3rem;
        padding: $half 0px;
    }
}