header {
    border-bottom: 1px solid rgba(0,0,0,.2);
    h1 {
        margin: 0;
    }
    p.headline-intro {
        padding: $quarter $standard;
        background-color: $alternate;
        margin: 0;
    }
    .header-wrapper {
        padding: $standard $standard*2;
    }
    .page_title {
        font-size: 26px;
        font-family: serif;
        font-weight: 600;
    }
}

#main_menu {
    display: inline-block;
        flex: 1;
    li {
        display: inline-block;
    }
    a {
        font-size: 14px;
        font-family: open sans,sans-serif;
        color: #575c63;
        margin-right: 12px;
        text-decoration: none;
        overflow: hidden;
        display: inline-block;
        padding: 0 6px;
        span {
            display: inline-block;
            position: relative;
            transition: transform .3s;
            &::before {
                position: absolute;
                top: 100%;
                content: attr(data-hover);
                font-weight: 700;
                transform: translate3d(0,0,0);
            }
        }
        &:hover span {
            transform: translateY(-100%);
           
            &::before {
                position: absolute;
                top: 100%;
                content: attr(data-hover);
                font-weight: 700;
                transform: translate3d(0,0,0);
                color: #780095;
            }
        }
    }
}

nav {
    display: flex;
    align-items: center;
}

.social_links {
    display: inline-block;
    span {
        margin-right: 8px;
        &:last-child {
            margin-right: 0;
        }
    }
}

