p.headline {
    font-size: 1.5rem;
    font-style: italic;
    color: $off-white;
    @include mobile-plus {    
        font-size: $standard * 2;
    }
}

figure {
    margin: 0 0 $standard;
    img {
        width:100%;
        border-left: $half solid $alternate;
    }
    figcaption {
        margin: $standard 0 0;
        line-height: 24px;
    }
}

.caption-block {
    margin-bottom: $standard * 2;
    line-height: 24px;
    .caption-heading {
        font-size: $standard * 1.25;
        font-weight: bold;
        margin-bottom: $half;
        @include small-desktop {
            font-size: $standard * 1.5;
        }
    }
}