$alternate: #c0392b;
$off-white: #ecf0f1;

/******************************************/
/**********   Breakpoints   ***************/
/******************************************/
$mobile-plus:480px;
$tablet:768px;
$small-desktop: 992px;
$large-desktop:1200px;

h1 {
    font-size: 8rem;
    font-family: 'serif';
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

p.headline {
    font-size: 2rem;
    font-style: italic;
    color: $off-white;
}
/******************************************/
/**********     Text Mods   ***************/
/******************************************/

.center-align {
    text-align: center;
}

@include Breakpoint($large-desktop) {
    h1 {
        font-size: 13rem;
    }
}