@import '_mixins';
@import '_variables';
@import '_header';

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 16px;
}
.container {
    margin: 1rem;
}

.main-container {
    display: flex;
    main {
        flex: 2;
        flex-direction: column;
        padding: 0 .5rem;
         img {
             width: 100%;
         }
    }
    aside {
        padding: 0 .5rem;
        flex: 1;
    }
}