@import '_mixins';
@import '_variables';
@import '_header';
@import '_modules';
@import '_footer';

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}
.container {
    margin: $standard;
}

.main-container {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
    }
    main {
        flex: 3;
        flex-direction: column;
        padding: 0 $half;
         img {
             width: 100%;
             margin-bottom: $half;
         }
         .main-image-container {
            margin: 0 0 $standard;
         }
         .main-section-content {   
            @include small-desktop {
                display: flex;
            }
            margin-bottom: $standard;
            &:last-child {
                @include small-desktop {
                    margin-bottom: 0;
                }
            }
            & > div {
                flex: 1;
                flex-direction: row;
                margin-bottom: $standard;
                p {
                    margin-bottom: $half;
                } 
                @include small-desktop {
                    flex-direction: column;
                    padding-right: $half;
                    margin-bottom: 0; 
                } 
            }
        }
    }
    
    aside {
        padding: 0 $half;
        flex: 1;
        @include tablet {
            padding: 0 $standard;
            border-left: 0.15rem solid $primary;
        }
    }
}