@import '_mixins';
@import '_variables';
@import '_header';
@import '_main';
@import '_footer';
@import '_aside';

* {
    box-sizing: border-box;
}
body,html {
    height: auto;
}
body {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}
.container {
    border: 10px solid #780095;
    position: relative;
    z-index: 0;
    background-color: rgb(248,248,248);
}

p.headline {
    font-size: 1.5rem;
    font-style: italic;
    color: $off-white;
    @include mobile-plus {    
        font-size: $standard * 2;
    }
}
*:focus {
    -webkit-box-shadow:0px 0px 5px 2px rgb(119 0 149 / 90%);
    -moz-box-shadow: 0px 0px 5px 2px rgb(119 0 149 / 90%);
    box-shadow: 0px 0px 5px 2px rgb(119 0 149 / 90%);
    outline: none;
}
button,a, {
    &:hover {
        cursor: pointer;
    }
}
.main-container {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
    }
    main {
        flex: 3.5;
        flex-direction: column;
        padding: $standard;
         img {
             width: 100%;
             margin-bottom: $half;
         }
         .main-image-container {
            margin: 0 0 $standard;
         }
         .main_section-content {   
            @include small-desktop {
                display: flex;
                margin-left: auto;
                margin-right: auto;
                max-width: 800px;
                &.quad {
                    max-width:none;
                }
            }
            margin-bottom: 60px;
            &:last-child {
                @include small-desktop {
                    margin-bottom: 0;
                }
            }
            & > div {
                flex: 1;
                flex-direction: row;
                margin-bottom: $standard;
                p {
                    margin-bottom: $half;
                    line-height: 24px;
                } 
                @include small-desktop {
                    flex-direction: column;
                    padding-right: 14px;
                    margin-bottom: 0; 
                } 
            }
    
            figure figcaption{
                h4 {
                    font-family: serif;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 27px;
                    margin: 0;
                }
                .article_information {
                    .author_link {
                        font-size: 10px;
                        text-decoration: none;
                        color: #6a6a6a;
                        &:hover {
                            color: #780095;
                            transition: .5s ease;
                        }
                    }
                    time {
                        font-size: 10px;
                    }
                }
            }
        }
        .main_section-featured {
            display: flex;
            margin-bottom: 60px;
            flex-direction: column;
            @include large-desktop {
                flex-direction: row;
            }
            & > div {
                flex: 1;
                flex-direction: row;
                margin-bottom: $standard;
                @include small-desktop {
                    flex-direction: column;
                    padding-right: $half;
                    margin-bottom: 0; 
                } 
            }
            nav ul {
                padding: 0 20px 0 0;
                li {
                    list-style-type: none;
                    display: inline-block;
                    margin-left: 5px;
                }
            }
            #slide_container {
                flex-direction: column;
                #slide-content h3 {
                    font-size: 36px;
                }
                span {
                    flex: 1;
                    vertical-align: middle;
                    font-weight: 600;
                }
                #featured_controls {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    aside {
        padding: $standard $half 0;
        flex: 1;
        border-top: 1px solid rgba(0,0,0,.2);
        div.caption-block:not(:first-child),figure {
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(0,0,0,.2);
        }
        @include tablet {
            padding: $standard;
            border-top: none;
            border-left: 1px solid rgba(0,0,0,.2);
        }
    }
}

.dot {
    border-radius: 50%;
    background-color: #780095;
    height: 3px;
    width: 3px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px;
}

.circle {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(0,0,0,.2);
    display: inline-flex;
    transition: .4s;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    &:hover {
        transform: scale(1.3);
        transition: .4s;
    }
    svg {
        height: 21px;
        fill: black;
    }
}